<!-- <span> I'm fine. = {{ title }}</span> -->

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="card mb-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h6 class="my-auto">Translate : <span style="color: green;">{{ fileName }}</span></h6>
            <div>

              <!-- <button mat-raised-button>Basic</button>
              <button mat-raised-button color="primary">Primary</button>
              <button mat-raised-button color="warn">Warn</button> -->
              <a *ngIf="fileName" href="http://localhost:5050/api/file/download/{{fileName}}" target="_blank">
              <button mat-raised-button class="mx-1">
                <mat-icon>file_download</mat-icon>
                <!-- Upload File -->
              </button></a>
              <button mat-raised-button class="mx-1" (click)="selectFile()">
                <mat-icon>file_upload</mat-icon>
                <!-- Upload File -->
              </button>
              <button mat-raised-button class="mx-1" (click)="getFileWords()">
                <mat-icon>refresh</mat-icon>
                <!-- Refresh -->
              </button>
              <button mat-raised-button color="primary" (click)="save()" class="mx-1">
                <mat-icon>save</mat-icon> Save
              </button>

              <!-- <button type="button" (click)="selectFile()" class="btn btn-info btn-sm mx-1">Upload File</button>
              <button type="button" (click)="getFileWords()" class="btn btn-info btn-sm mx-1">Refresh</button>
              <button type="button" (click)="confirmSave()" class="btn btn-primary btn-sm mx-1">Save</button> -->
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <section class="example-container mat-elevation-z8" tabindex="0" *ngIf="words">
            <table mat-table [dataSource]="dataSource">

              <!-- key Column -->
              <ng-container matColumnDef="key">
                <th mat-header-cell *matHeaderCellDef  dir="ltr" class="text-left" style="text-align: left;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700;">English</p>
                </th>
                <td mat-cell *matCellDef="let element;" dir="ltr" class="text-left p-0" style="text-align: left;">
                  <span class="" style="width: 100%; height: 100%; border: 0ex; font-size: 18px; padding: 12px 11px;
                    margin: 0 1px;" readonly>{{ element.key }}</span>
                  </td>
              </ng-container>

              <!-- value Column -->
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef dir="rtl" class="text-right" style="text-align: right;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700; font-family: 'Iranyekan';">فارسی</p>
                </th>
                <td mat-cell *matCellDef="let element; let i" dir="rtl" class="text-right p-0" style="text-align: right;">
                  <input type="text" class="" [(ngModel)]="element.value" name="word+{{i}}" id="word+{{i}}"
                  (keydown)="changeWordValue($event)" autocomplete="off"
                    placeholder="Empty" style="width: 100%; height: 100%; border: 0ex; font-size: 18px; padding: 12px 11px;
                    margin: 0 1px;">
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="getWord(row)"></tr>
            </table>
          </section>

          <!-- <table *ngIf="words" class="table table-responsive table-sm mb-0">
            <thead style="position: sticky;top: 0;background-color: #fbfbfb;border-bottom: 1px solid #2c2c2c;">
              <tr>
                <th dir="ltr" class="text-left" style="text-align: left;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700;">English</p>
                </th>
                <th dir="rtl" class="text-right" style="text-align: right;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700; font-family: 'Iranyekan';">فارسی</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let word of words; let i=index;" (click)="getWord(word)">
                <td dir="ltr" class="text-left p-0" style="text-align: left;">
                  <input type="text" class="p-2" [(ngModel)]="word.key" name="word+{{i}}" id="word+{{i}}"
                    placeholder="Search" style="width: 100%; height: 100%; border: 0ex; font-size: 18px;" readonly>
                </td>
                <td dir="rtl" class="text-right p-0" style="text-align: right;">
                  <input type="text" class="p-2" [(ngModel)]="word.value" name="word+{{i}}" id="word+{{i}}"
                    placeholder="Search" style="width: 100%; height: 100%; border: 0ex; font-size: 18px;">
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- <div class="card selected-word-cord">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h6 class="my-auto">Selected Word</h6>
          </div>
        </div>
        <input type="text" class="mb-1" [(ngModel)]="word.key" name="wordkey" id="wordkey" dir="ltr"
                    placeholder="English" style="width: 100%; height: 100%; border: 0ex; font-size: 18px; padding: 12px 11px;
                    margin: 0 1px;" readonly>
        <input type="text" class="" [(ngModel)]="word.value" name="wordvalue" id="wordvalue" dir="rtl"
                    placeholder="فارسی" style="width: 100%; height: 100%; border: 0ex; font-size: 18px; padding: 12px 11px;
                    margin: 0 1px;">
        </div> -->
      <!-- <br> -->
      <div class="card suggestion-cord">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h6 class="my-auto">Suggestions
              <!-- <br><span cla style="color:royalblue;">{{ word?.key }}</span> -->
            </h6>
            <div>
              <button mat-raised-button class="mx-1" (click)="getWord(word!)">
                <mat-icon>refresh</mat-icon> Refresh
              </button>
              <!-- <button type="button" (click)="getWord(word!)" class="btn btn-info btn-sm mx-1">Refresh</button> -->
            </div>
          </div>
        </div>
        <mat-selection-list #shoes [multiple]="false" style="direction: rtl; text-align: right;">
          <mat-list-option *ngFor="let sugges of word?.suggestion; let i=index;" [value]="sugges" (click)="acceptSugges(sugges)">
            <div class="d-flex flex-row justify-content-start align-items-center">
              <img *ngIf="sugges.suggestedSource == 'Google'" src="../assets/images/google_logo.png" style="width: 24px;" alt="google" srcset="" data-bs-toggle="tooltip" data-bs-placement="left" title="Google">
              <img *ngIf="sugges.suggestedSource == 'App'" src="../assets/images/app_icon.png" style="width: 24px;" alt="google" srcset="" data-bs-toggle="tooltip" data-bs-placement="left" title="App">
              <img *ngIf="sugges.suggestedSource == 'Dictionary'" src="../assets/images/dictionary_icon.jpg" style="width: 24px;" alt="google" srcset="" data-bs-toggle="tooltip" data-bs-placement="left" title="Dictionary">
              <h6 class="p-0 my-0 mx-2" style="font-size: 18px;">{{ sugges.value }}</h6>
            </div>
          </mat-list-option>
        </mat-selection-list>
        <!-- <ul class="list-group list-group-flush" style="width: 100%;">
          <li *ngFor="let sugges of word?.suggestion; let i=index;" (click)="acceptSugges(sugges)"
            class="list-group-item">
          <h6>{{ sugges.value }}</h6></li>
        </ul> -->
      </div>
    </div>
  </div>


  <!-- <dx-popup [rtlEnabled]="rtlEnabled" [width]="300" [height]="280" [showTitle]="true" title="Save Alert"
    [dragEnabled]="false" [hideOnOutsideClick]="true" [showCloseButton]="false" [(visible)]="savePopupVisible">
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" [options]="saveButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'">
      are you sure for save?
    </div>
  </dx-popup> -->

  <dx-popup [rtlEnabled]="rtlEnabled" [width]="300" [height]="280" [showTitle]="true" title="Upload file"
    [dragEnabled]="false" [hideOnOutsideClick]="true" [showCloseButton]="false" [(visible)]="uploadPopupVisible">
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" [options]="uploadButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'">
      <input type="file" class="file-input" style="display: none;" (change)="onFileSelected($event)" #fileUpload>

      <div class="file-upload">

        {{fileName || "No file uploaded yet."}}

        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
          <!-- <i class="fas fa-attach">attach_file</i> -->
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </div>
  </dx-popup>

</div>



<router-outlet></router-outlet>



<!-- "./node_modules/bootstrap/dist/js/bootstrap.min.js",
"./node_modules/bootstrap/dist/js/bootstrap.esm.min.js",
"./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" -->
