<!-- <span> I'm fine. = {{ title }}</span> -->

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="card mb-2">
        <div class="card-header">
          Translate
        </div>
        <div class="card-body p-0">
          <table class="table table-bordered table-sm mb-0">
            <thead>
              <tr>
                <th dir="ltr" class="text-left" style="text-align: left;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700;">English</p>
                </th>
                <th dir="rtl" class="text-right" style="text-align: right;">
                  <p class="mx-2 mb-1" style="font-size: 20px; font-weight: 700; font-family: 'Iranyekan';">فارسی</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let word of words; let i=index;">
                <th dir="ltr" class="text-left p-0" style="text-align: left;">
                  <input type="text" class="p-2" [(ngModel)]="word.key" name="word+{{i}}" id="word+{{i}}" placeholder="Search"
                    style="width: 100%; height: 100%; border: 0ex; font-size: 18px;" readonly>

                  <!-- <p class="mx-2 mb-1" style="font-size: 18px; font-weight: 500;">
                    <span> {{word.key}}</span>
                  </p> -->
                </th>
                <td dir="rtl" class="text-right p-0" style="text-align: right;">
                  <input type="text" class="p-2" [(ngModel)]="word.value" name="word+{{i}}" id="word+{{i}}" placeholder="Search"
                    style="width: 100%; height: 100%; border: 0ex; font-size: 18px;">

                  <!-- <p class="mx-2 m-1" style="font-size: 18px; font-weight: 500;">
                    <span> {{word.value}}</span>
                  </p> -->
                </td>
              </tr>
            </tbody>
          </table>
          <button (click)="getWords()">getWords</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Suggestion
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>



<!-- "./node_modules/bootstrap/dist/js/bootstrap.min.js",
"./node_modules/bootstrap/dist/js/bootstrap.esm.min.js",
"./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" -->
